body {
  background-color: #ffffff;
  font-family: Helvetica;
}

#wrapper {
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;

}

h1 {
  margin-bottom: 0px;
}

header {

    grid-column: span 3;
    height: 105px;
    padding: 4px;
    padding-left: 0px;
}

#mainimg {
  grid-column: span 8;
  width: 90%;
  padding: 10px;
  padding: 10px;
  margin: 20px;

}

#sideimg {
  padding: 20px;
  grid-column: span 3;
  width: 80%;

}

#underline{
  text-decoration: underline 4px;
}

nav {
  grid-column: span 1;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


nav li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 4px;
  font-weight: bold;
  font-size: 32px;

}

nav li a:hover{
  text-decoration: line-through 4px;


}

#myCarousel {
  grid-column: span 6;

}

#caouselimage{
  width: 80%;
}

.carousel {
  color: #170724;


}

.carousel img {
  width: 120%;
}

.carousel__slide {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: 500px;
  margin-right: 6px;


  background-color: #eee;
  border-radius: 6px;
}
